body {
  margin: 0;
  padding: 0;
}

.box1,
.box2,
.box3 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.box1 {
  background-image: url("../assets/img1.jpg");
}

.box2 {
  background-image: url("../assets/img2.jpg");
}

.box3 {
  background-image: url("../assets/img3.jpg");
}

h1 {
  font-family: sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0px;
  text-align: center;
}
