* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/img1.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

.button {
  text-decoration: none;
  padding: 10px 30px;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 30px;
  transition: 0.5s ease;
  animation: animate 2s 1;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

h1 {
  animation: animate 2s 1;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
